* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/coffe9.jpg');
    background-size: cover;
    scroll-behavior: smooth;

}

/*  */
html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #eeeeee;
}

.title {
    color: antiquewhite;
    font-size: 9em;
    font-family:'Great Vibes', cursive;
    text-align: center;
    margin-top: 120px;
}

.text-decoration-none {
    text-decoration: none;
}

.d-flex {
    display: flex;  
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center; 
}

.padding-20 {
    padding: 20px;
}

.w-500 {
    width: 500px;
}

.list-decoration-none {
    list-style: none;
}

.white-text{
    color: antiquewhite;
    transition: 5sec;
}

.font-size-20{
    font-size: 20px;
}

.cursor-pointer{
    cursor: pointer;
}

.width-150 {
    width: 150px;
}

.d-none {
    display: none;
}

.ul-mobile {
    width: 300px;
    background-color:transparent;
}

.li-mobile {
    padding: 10px;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.text-hover:hover {
    color: #98d479c6;
}

.padding-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

.img-menu{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.color-delicious{
    background-image: linear-gradient(#ed4e46e8, #fcfcfc);
}

.color-coffee{
    background-image: linear-gradient(#af7524ef, #efe8deda);
}

.border-radius{
    border-radius: 30px;
}

button{
    width: 200px;
    text-decoration: none;
    border: none;
    margin-left: 10px;
    font-family:'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 150px;
    color: rgb(44, 35, 35);
    background-color: #d1c8bdbb;
}



h4{
    background-image: linear-gradient(to top, rgb(196, 125, 50), #000000);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 5em;
    font-family:'Great Vibes', cursive;
    text-align: center;
    
    
}



.titulo-animacion{
    animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

h6{
    color: #323232be;
    font-size: 2em;
    font-family: 'Londrina Sketch', cursive;
    text-align: start;
}


.w-100{
    width: 100%;
}

.text2{
    display: block;
    text-indent: 10%;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    color: #292622ef;
    font-size: 23px;
    height: 70%;
    padding: 30px;
    margin-inline: 30px; 
}

.s-reviews{
    flex-wrap: wrap;
    height: 250%;
    width: 100%;
    border: 1px dashed rgb(175, 163, 163);
}

.b-reviews{
    text-decoration: none;
    background-color: transparent;
    font-size: 2em;
    display: block;
    position: relative;
    width: 20%;
}

.h2-reviews{
    text-align: center;
    font-size: 20pxem;
    color: #4b1616;
}

.grey-bg{
    background-color: #d1c8bdbb;
    padding-top: 10px;
}

.coffee-photo{
    border-radius: 50%;
    height: 200px;
    width: 210px;
}

footer{
    background-color: #414040;
    color: #f0f0f0; 
    border-top: #151313 2px solid;
    margin-top: 20px;
}
  
.ul-footer{
    list-style: none;
    text-align: center;
}
  
.li-footer{
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}
  

/* animacion para deslizar el titulo 50% "sobre nosotros" */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 500%;
    }
  
    to {
      margin-right: 100%;
      width: 100%;
    }
  }


@media only screen and (min-width : 550px) and (max-width : 768px) {
    .title{
        font-size: 6em;
    }
    .font-size-20{
        font-size: 15px;
    }
    .text-hover:hover {
        color: #98d479c6;
    }
    .menu-tablet{
        width: 100%;
        font-size: 18px;
    }

    .tablet-fsize-15px{
        font-size: 15px;
    }

    .tablet-fsize-18px{
        font-size: 18px;
    }

    .img-tablet{
        width: 90px;
        height: 90px;
    }

    .titulo-tablet-animacion{
        font-size: 4em;
    }

    .review-tablet{
        width: 100%;
   
    }

    .div-reviews-tablet{
        width: 90%;
        height: 100%;
    }

    .p-review-tablet{
        font-size: 17px;
    }

    .font-size-tablet{
        font-size: 30px;
    }

    .footer-tablet{
        width: 100%;
        height: 80%;
        font-size: 23px;
    }
   

}



@media only screen and (max-width : 550px) {
    .main-menu{
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .redes-sociales{
        display: none;
    }

    .title{
        font-size: 6em;
    }

    header{
        width: 100%;
        height: 100vh;
        background-image: url('../img/coffe4.jpg');
        background-size: cover;
    }

    .menu{
        width: 100%;
        font-size: 12px;
    }

    .mobile-fsize-15px{
        font-size: 15px;
    }

    .img-mob{
        width: 85px;
        height: 85px;
    }

    .titulo-mobile-animacion{
        font-size: 3em;
    }

    .review-mobile{
        width: 100%;
   
    }

    .div-reviews-mob{
        width: 80%;
        height: 100%;
    }

    .p-review-mobile{
        font-size: 12px;
    }

    .font-size-mob25{
        font-size: 25px;
    }

    .footer-mob{
        width: 100%;
        height: 80%;
        font-size: 17px;
    }



}